<!DOCTYPE html>
<html>
<head>
    <title>Generator Online</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/bulma.min.css' ) }}>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L5232D7YHF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-L5232D7YHF');
    </script>
</head>
<body>
    <div class="section">
            <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        

        <div class="navbar-end">

            <a href="/ru" class="navbar-item" style="margin-right: 20px;">
                RU
            </a>
        </div>
    </nav>
    <!-- Savol generatori -->
    <section class="hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Savol generatori</h1>
                <h2 class="subtitle">Savollarni oson variantlarga taqsimlang</h2>
                <a type="button" href={{ url_for('static', filename='examples/savol_example.xlsx' ) }} class="button">Namuna uchun fayl</a>
            </div>
        </div>
    </section>

    <section class="section" style="margin-top: -10vh;">
        <div class="container">

            <form action="/generate_docx" class="box" method="POST" enctype="multipart/form-data">
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <div class="field">
                            <label for="kafedra_nomi" class="label">Kafedra nomi</label>
                            <div class="control">
                                <input type="text" class="input" id="kafedra_nomi" name="kafedra_nomi" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="fanimiz" class="label">Fan nomi</label>
                            <div class="control">
                                <input type="text" class="input" id="fanimiz" name="fanimiz" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="guruh" class="label">Guruh nomi</label>
                            <div class="control">
                                <input type="text" class="input" id="guruh" name="guruh" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="semestr" class="label">Semestr</label>
                            <div class="control">
                                <input type="number" class="input" id="semestr" name="semestr" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="tuzuvchi" class="label">Tuzuvchi</label>
                            <div class="control">
                                <input type="text" class="input" id="tuzuvchi" name="tuzuvchi" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">

                        <div class="field">
                            <label for="kafedra_mudiri" class="label">Kafedra mudiri</label>
                            <div class="control">
                                <input type="text" class="input" id="kafedra_mudiri" name="kafedra_mudiri" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="bilet_soni" class="label">Bilet soni</label>
                            <div class="control">
                                <input type="number" class="input" id="bilet_soni" name="bilet_soni" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="savollar_soni" class="label">Savollar soni</label>
                            <div class="control">
                                <input type="number" class="input" id="savollar_soni" name="savollar_soni" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="savol_file" class="label">Savollar fayli:</label>
                            <div class="control">
                                <input type="file" class="input" id="savol_file" name="savol_file">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Tayyorla</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>

    <!-- Test generatori -->
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Test generatori</h1>
                <h2 class="subtitle">Testlarni oson variantlarga taqsimlang</h2>
                <a type="button" href={{ url_for('static', filename='examples/test_example.xlsx' ) }} class="button">Namuna uchun fayl</a>

            </div>
        </div>
    </section>

    <section class="section" style="margin-top: -10vh;">
        <div class="container">

            <form action="/generate_and_download" class="box" method="POST" enctype="multipart/form-data">
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <div class="field">
                            <label for="kafedra_nomi" class="label">Kafedra nomi</label>
                            <div class="control">
                                <input type="text" class="input" id="kafedra_nomi" name="kafedra_nomi" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="guruh" class="label">Guruh</label>
                            <div class="control">
                                <input type="text" class="input" id="guruh" name="guruh" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="fan" class="label">Fan nomi</label>
                            <div class="control">
                                <input type="text" class="input" id="fan" name="fan" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="semestr" class="label">Semestr</label>
                            <div class="control">
                                <input type="number" class="input" id="semestr" name="semestr" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="tuzuvchi" class="label">Tuzuvchi</label>
                            <div class="control">
                                <input type="text" class="input" id="tuzuvchi" name="tuzuvchi" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">

                        <div class="field">
                            <label for="zav_kaf" class="label">Kafedra mudiri</label>
                            <div class="control">
                                <input type="text" class="input" id="zav_kaf" name="zav_kaf" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="kerakli_variantlar_soni" class="label">Kerakli variantlar soni</label>
                            <div class="control">
                                <input type="number" class="input" id="kerakli_variantlar_soni" name="kerakli_variantlar_soni" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="variantda_test_soni" class="label">Variantda testlar soni</label>
                            <div class="control">
                                <input type="number" class="input" id="variantda_test_soni" name="variantda_test_soni" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="savol_file" class="label">Testlar fayli:</label>
                            <div class="control">
                                <input type="file" class="input" id="savol_file" name="savol_file">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Tayyorla</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
<script async type="text/javascript" src={{ url_for('static', filename='js/bulma.js' ) }}></script>
</body>
</html>
